// Place all the styles related to the queries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#wrap{
width: 100%;
height: 600px;
border: 1px solid white;
}
.form{
width: 50%;
height: 600px;
float: left;
}
#address{
width: 50%;
height: 600px;
float: left;
}
